namespace: epimorphics

name: aws

version: __VERSION__

readme: README.md

authors:
- Andy
- Dave
- Mihajlo

description: Epimorphics Ansible AWS/EKS collection

license:
- GPL-2.0-or-later

tags: []

dependencies:
- amazon.aws

# The URL of the originating SCM repository
repository: http://github.com/epimorphics/main-ansible-aws

# The URL to any online docs
documentation: http://github.com/epimorphics/main-ansible-aws

# The URL to the homepage of the collection/project
homepage: http://github.com/epimorphics/main-ansible-aws

# The URL to the collection issue tracker
issues: http://github.com/epimorphics/main-ansible-aws

